NEXT_PUBLIC_COLLATERALX_DATA_MODE=mock
NEXT_PUBLIC_ALGORAND_NETWORK=localnet

NEXT_PUBLIC_ALGOD_SERVER=http://localhost:4001
NEXT_PUBLIC_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
NEXT_PUBLIC_ALGOD_PORT=

NEXT_PUBLIC_INDEXER_SERVER=http://localhost:8980
NEXT_PUBLIC_INDEXER_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
NEXT_PUBLIC_INDEXER_PORT=

NEXT_PUBLIC_PROTOCOL_APP_ID=
NEXT_PUBLIC_ORACLE_APP_ID=
NEXT_PUBLIC_STABLECOIN_APP_ID=
NEXT_PUBLIC_LIQUIDATION_APP_ID=
NEXT_PUBLIC_KEEPER_ADDRESS=
